<<<<<<< head
*{box-sizing: border-box; outline: 1px solid rgb(0, 0, 0); margin: 0; padding: 0;
    background-color: lightgray;}
=======
:root {--cinza-claro: #9b9b9b; --cinza-escuro: #666666; --preto: #0d0d0d}
*{box-sizing: border-box; outline: 0 solid rgb(0, 0, 0); margin: 0; padding: 0;
    background-color: var(--cinza-claro);}
>>>>>>> bc8e8947dae8b2cdb46558231555d43d31269ec4
body{
    display: grid;
    grid-template-areas: "header" "article" "nav" "main" "footer";
    grid-template-columns: 1fr; grid-template-rows: 1fr 2fr 2fr 4fr 1fr;
    height: 100vh;}

.container-header{grid-area: header;
    display: flex; justify-content: center; align-items: center;}
.container-article{grid-area: article;}
.container-nav{grid-area: nav;}
.container-main{grid-area: main;}
.container-footer{grid-area: footer;}

.box-header{height: 77%; width: 85%;
    border: 1px solid var(--preto); border-radius: 4px;
    background-color: var(--cinza-escuro);} 