*{box-sizing: border-box; outline: 1px solid red; margin: 0; padding: 0;
    background-color: lightgray;}
body{
    display: grid;
    grid-template-areas: "header" "article" "nav" "main" "footer";
    grid-template-columns: 1fr; grid-template-rows: 1fr 2fr 2fr 4fr 1fr;
    height: 100vh;}

.container-header{grid-area: footer;}
.container-article{grid-area: article;}
.container-nav{grid-area: nav;}
.container-main{grid-area: main;}
.container-footer{grid-area: header;}