*{box-sizing: border-box; border: 0px solid red; background-color: lightgray;
    margin: 0px; padding: 0px;}
body{
    display: grid;
    grid-template-areas: "header header header" "article article article" "nav nav nav" "main main main" "footer footer footer";
    grid-template-columns: 30wh 30wh 30wh; grid-template-rows: 12vh 23vh 50vh 15vh;}

.header{grid-area: header;}
.article{grid-area: article;}
.nav{grid-area: nav;}
.main{grid-area: main;}
.footer{grid-area: footer;}